<form method="POST" action="/v1/mascotas">
  <div class="form-group mb-2">
    <label for="nombre">Nombre:</label>
    <input class="form-control" type="text" name="nombre" id="nombre" value="">
  </div>
  <div class="form-group mb-2">
    <label for="foto">Foto URL:</label>
    <input class="form-control" type="text" name="foto" id="foto" value="">
  </div>
  <div class="form-group mb-2">
    <label for="ubicacion">Ubicación:</label>
    <input class="form-control" type="text" name="ubicacion" id="ubicacion" value="">
  </div>
  <div class="form-group mb-2">
    <input class="btn btn-primary" type="submit" value="Crear mascota">
  </div>
</form>
